nav.navbar.navbar-light.bg-light.navbar-expand-lg
    a.navbar-brand(href="/home") Mon Forum
    
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navContent")
        span.navbar-toggler-icon

    #navContent.collapse.navbar-collapse
        .mr-auto
        if user
            span.nav-text Bonjour #{user.user_name}
        ul.navbar-nav
            if user
                li.nav-item
                    a.nav-link(href="/message/new") Nouveau message
                li.nav-item
                    a.nav-link(href="/logout") Déconnexion
            else
                li.nav-item
                    a.nav-link(href="/register") Inscription
                li.nav-item
                    a.nav-link(href="/login") Connexion
            li.nav-item
                a.nav-link(href="/users-messages") Liste des auteurs
                
        
        



